@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body, html {
  background: black;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/screen.scss */
.video {
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/screen.scss */
.container {
  overflow: hidden;
  *zoom: 1;
  height: 100%;
}

/* line 29, ../sass/screen.scss */
.msglist {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 0;
  height: 100%;
}

/*
t = 20s
v 固定每秒 108px/s
起點相同 100%
w 寬不同 
*/
/* line 43, ../sass/screen.scss */
.msg {
  width: auto;
  position: absolute;
  left: 100%;
  font-size: 36px;
  font-family: "微軟正黑體";
  letter-spacing: 0.1em;
  font-weight: bold;
  word-break: keep-all;
  transition: left 30s linear;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 66, ../sass/screen.scss */
.msg.nowrap {
  width: 2048px;
}

@-moz-keyframes effect1 {
  0%,100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes effect1 {
  0%,100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes effect1 {
  0%,100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@-moz-keyframes effect2 {
  0%,50%,100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
}
@-webkit-keyframes effect2 {
  0%,50%,100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
}
@keyframes effect2 {
  0%,50%,100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
}
@-moz-keyframes effect3 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
@-webkit-keyframes effect3 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
@keyframes effect3 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
@-moz-keyframes effect4 {
  0%, 50%, 100% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
@-webkit-keyframes effect4 {
  0%, 50%, 100% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
@keyframes effect4 {
  0%, 50%, 100% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
/* line 107, ../sass/screen.scss */
.animate1 {
  animation: effect1 0.5s infinite;
}

/* line 110, ../sass/screen.scss */
.animate2 {
  animation: effect2 2s infinite;
}

/* line 113, ../sass/screen.scss */
.animate3 {
  animation: effect3 0.5s infinite;
}

/* line 116, ../sass/screen.scss */
.animate4 {
  animation: effect4 2s infinite;
}

/* line 121, ../sass/screen.scss */
.cat1, button[data-icon="cat1"] {
  background: url('../images/icons-sb3be2b1138.png') 0 0;
  width: 96px;
  height: 96px;
  filter: drop-shadow(0 0 3px white);
}

/* line 121, ../sass/screen.scss */
.cat2, button[data-icon="cat2"] {
  background: url('../images/icons-sb3be2b1138.png') 0 -96px;
  width: 96px;
  height: 96px;
  filter: drop-shadow(0 0 3px white);
}

/* line 121, ../sass/screen.scss */
.cat3, button[data-icon="cat3"] {
  background: url('../images/icons-sb3be2b1138.png') 0 -192px;
  width: 96px;
  height: 96px;
  filter: drop-shadow(0 0 3px white);
}

/* line 121, ../sass/screen.scss */
.cat4, button[data-icon="cat4"] {
  background: url('../images/icons-sb3be2b1138.png') 0 -288px;
  width: 96px;
  height: 96px;
  filter: drop-shadow(0 0 3px white);
}

/* line 121, ../sass/screen.scss */
.heart, button[data-icon="heart"] {
  background: url('../images/icons-sb3be2b1138.png') 0 -384px;
  width: 96px;
  height: 96px;
  filter: drop-shadow(0 0 3px white);
}

/* line 121, ../sass/screen.scss */
.melody1, button[data-icon="melody1"] {
  background: url('../images/icons-sb3be2b1138.png') 0 -480px;
  width: 96px;
  height: 96px;
  filter: drop-shadow(0 0 3px white);
}

/* line 121, ../sass/screen.scss */
.melody2, button[data-icon="melody2"] {
  background: url('../images/icons-sb3be2b1138.png') 0 -576px;
  width: 96px;
  height: 96px;
  filter: drop-shadow(0 0 3px white);
}

/* line 129, ../sass/screen.scss */
.fade-left {
  left: -3776px;
}

/* line 133, ../sass/screen.scss */
.play-icon {
  transition: opacity 0.3s ease-in;
  opacity: 0.5;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  margin-left: -256px;
  margin-top: -200px;
  width: 512px;
  height: 400px;
  left: 50%;
  top: 50%;
  z-index: 200;
  filter: drop-shadow(0 0 5px black);
}
/* line 149, ../sass/screen.scss */
.play-icon:after {
  opacity: 0.9;
  width: 128px;
  height: 128px;
  display: inline-block;
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -64px;
  margin-top: -64px;
  background-image: url(../images/play.png);
}
/* line 160, ../sass/screen.scss */
.play-icon.playing:after {
  background-image: url(../images/pause.png);
}
/* line 163, ../sass/screen.scss */
.play-icon:hover {
  opacity: 1;
}
/* line 166, ../sass/screen.scss */
.play-icon.playing {
  opacity: 0;
}
/* line 168, ../sass/screen.scss */
.play-icon.playing.hover {
  opacity: 0.5;
}

/* line 174, ../sass/screen.scss */
.track-0 {
  top: 0px;
}

/* line 175, ../sass/screen.scss */
.track-1 {
  bottom: 36px;
}

/* line 176, ../sass/screen.scss */
.track-2 {
  top: 72px;
}

/* line 177, ../sass/screen.scss */
.track-3 {
  bottom: 108px;
}

/* line 178, ../sass/screen.scss */
.track-4 {
  top: 144px;
}

/* line 180, ../sass/screen.scss */
.track-10 {
  top: 18px;
}

/* line 181, ../sass/screen.scss */
.track-11 {
  bottom: 54px;
}

/* line 182, ../sass/screen.scss */
.track-12 {
  top: 90px;
}

/* line 183, ../sass/screen.scss */
.track-13 {
  bottom: 126px;
}

/* line 185, ../sass/screen.scss */
.track-5 {
  bottom: 144px;
}

/* line 186, ../sass/screen.scss */
.track-6 {
  top: 108px;
}

/* line 187, ../sass/screen.scss */
.track-7 {
  bottom: 72px;
}

/* line 188, ../sass/screen.scss */
.track-8 {
  top: 36px;
}

/* line 189, ../sass/screen.scss */
.track-9 {
  bottom: 0px;
}

/* line 191, ../sass/screen.scss */
.track-14 {
  top: 126px;
}

/* line 192, ../sass/screen.scss */
.track-15 {
  bottom: 90px;
}

/* line 193, ../sass/screen.scss */
.track-16 {
  top: 54px;
}

/* line 194, ../sass/screen.scss */
.track-17 {
  bottom: 18px;
}

/* line 199, ../sass/screen.scss */
.color-1 {
  color: #fdfeff;
}

/* line 202, ../sass/screen.scss */
.color-1.odd {
  color: #fffdf9;
}

/* line 199, ../sass/screen.scss */
.color-2 {
  color: #ffd0a0;
}

/* line 202, ../sass/screen.scss */
.color-2.odd {
  color: white;
}

/* line 199, ../sass/screen.scss */
.color-3 {
  color: #d9f2d9;
}

/* line 202, ../sass/screen.scss */
.color-3.odd {
  color: white;
}

/* line 199, ../sass/screen.scss */
.color-4 {
  color: #fdfefb;
}

/* line 202, ../sass/screen.scss */
.color-4.odd {
  color: #ffe7e5;
}

/* line 199, ../sass/screen.scss */
.color-5 {
  color: #ffd8ed;
}

/* line 202, ../sass/screen.scss */
.color-5.odd {
  color: #abfffe;
}

/* line 208, ../sass/screen.scss */
.msg_input {
  font-size: 36px;
  height: 1.2em;
  line-height: 1.2em;
  width: 20em;
}
