@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes home {
  0% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1);
  }
  64%, 68%, 72%, 76%, 80%, 84%, 88%, 92%, 96%, 100% {
    transform: scale(1) rotate(-10deg);
  }
  62%, 66%, 70%, 74%, 78%, 82%, 86%, 90%, 94%, 98% {
    transform: scale(1) rotate(10deg);
  }
}
@-webkit-keyframes home {
  0% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1);
  }
  64%, 68%, 72%, 76%, 80%, 84%, 88%, 92%, 96%, 100% {
    transform: scale(1) rotate(-10deg);
  }
  62%, 66%, 70%, 74%, 78%, 82%, 86%, 90%, 94%, 98% {
    transform: scale(1) rotate(10deg);
  }
}
@keyframes home {
  0% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1);
  }
  64%, 68%, 72%, 76%, 80%, 84%, 88%, 92%, 96%, 100% {
    transform: scale(1) rotate(-10deg);
  }
  62%, 66%, 70%, 74%, 78%, 82%, 86%, 90%, 94%, 98% {
    transform: scale(1) rotate(10deg);
  }
}
@-moz-keyframes cat1 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 130px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 920px;
    top: 0px;
  }
}
@-webkit-keyframes cat1 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 130px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 920px;
    top: 0px;
  }
}
@keyframes cat1 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 130px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 920px;
    top: 0px;
  }
}
@-moz-keyframes cat2 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 90px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 200px;
    top: 0px;
  }
}
@-webkit-keyframes cat2 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 90px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 200px;
    top: 0px;
  }
}
@keyframes cat2 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 90px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 200px;
    top: 0px;
  }
}
@-moz-keyframes cat3 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 50px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 200px;
    top: 570px;
  }
}
@-webkit-keyframes cat3 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 50px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 200px;
    top: 570px;
  }
}
@keyframes cat3 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 50px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 200px;
    top: 570px;
  }
}
@-moz-keyframes cat4 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 10px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 920px;
    top: 570px;
  }
}
@-webkit-keyframes cat4 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 10px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 920px;
    top: 570px;
  }
}
@keyframes cat4 {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    transform: scale(1) rotate(10deg);
  }
  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    transform: scale(1) rotate(-10deg);
  }
  0% {
    right: 10px;
    top: 470px;
  }
  10% {
    right: 600px;
    top: 300px;
  }
  100% {
    right: 920px;
    top: 570px;
  }
}
@-moz-keyframes catjump1 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  13% {
    margin-top: -30px;
  }
}
@-webkit-keyframes catjump1 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  13% {
    margin-top: -30px;
  }
}
@keyframes catjump1 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  13% {
    margin-top: -30px;
  }
}
@-moz-keyframes catjump2 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  37% {
    margin-top: -30px;
  }
}
@-webkit-keyframes catjump2 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  37% {
    margin-top: -30px;
  }
}
@keyframes catjump2 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  37% {
    margin-top: -30px;
  }
}
@-moz-keyframes catjump3 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  63% {
    margin-top: -30px;
  }
}
@-webkit-keyframes catjump3 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  63% {
    margin-top: -30px;
  }
}
@keyframes catjump3 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  63% {
    margin-top: -30px;
  }
}
@-moz-keyframes catjump4 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  88% {
    margin-top: -30px;
  }
}
@-webkit-keyframes catjump4 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  88% {
    margin-top: -30px;
  }
}
@keyframes catjump4 {
  0%,50%,100% {
    transform: scale(0.5) rotate(-10deg);
  }
  25%,75% {
    transform: scale(0.5) rotate(10deg);
  }
  0%,25%,50%,75%,100% {
    margin-top: 0;
  }
  88% {
    margin-top: -30px;
  }
}
@-moz-keyframes bgmove {
  0% {
    background-position: 0 0, 60px 60px;
  }
  100% {
    background-position: -60px -60px, 0 0;
  }
}
@-webkit-keyframes bgmove {
  0% {
    background-position: 0 0, 60px 60px;
  }
  100% {
    background-position: -60px -60px, 0 0;
  }
}
@keyframes bgmove {
  0% {
    background-position: 0 0, 60px 60px;
  }
  100% {
    background-position: -60px -60px, 0 0;
  }
}
@-moz-keyframes logo {
  0%,50%,100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes logo {
  0%,50%,100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
@keyframes logo {
  0%,50%,100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
@-moz-keyframes opacity1 {
  0%, 50%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity1 {
  0%, 50%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@keyframes opacity1 {
  0%, 50%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@-moz-keyframes opacity2 {
  0%, 50%, 100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity2 {
  0%, 50%, 100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
@keyframes opacity2 {
  0%, 50%, 100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
@-moz-keyframes font_color_flip {
  0%, 50% {
    color: white;
  }
  51%, 100% {
    color: #99ffff;
  }
}
@-webkit-keyframes font_color_flip {
  0%, 50% {
    color: white;
  }
  51%, 100% {
    color: #99ffff;
  }
}
@keyframes font_color_flip {
  0%, 50% {
    color: white;
  }
  51%, 100% {
    color: #99ffff;
  }
}
/* line 188, ../sass/twister.scss */
* {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 191, ../sass/twister.scss */
body, html {
  color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-image: linear-gradient(45deg, #5dabe2 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #5dabe2 75%, #5dabe2), linear-gradient(45deg, #5dabe2 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #5dabe2 75%, #5dabe2);
  background-size: 120px 120px;
  background-position: 0 0, 60px 60px;
  animation: bgmove 1s linear infinite;
}

/* line 202, ../sass/twister.scss */
.title {
  font-family: 'simhei', '微軟正黑體';
  font-size: 20px;
  position: absolute;
  bottom: 0;
  font-size: 40px;
  animation: font_color_flip 0.3s linear infinite;
  font-size: 40px;
  margin: 10px;
  text-shadow: 0 0 10px navy, 1px 1px 0 navy, -1px 1px 0 navy, 1px -1px 0 navy, -1px -1px 0 navy;
  line-height: 4em;
}

/* line 218, ../sass/twister.scss */
.container {
  width: 1024px;
  height: 768px;
  position: relative;
}

/* line 223, ../sass/twister.scss */
.logo {
  background-image: url("../images/logo3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 bottom;
  width: 350px;
  height: 350px;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 25px;
  animation: logo 2s linear infinite;
}

/* line 235, ../sass/twister.scss */
.logo2 {
  background-image: url("../images/title.png");
  background-size: contain;
  width: 166.4px;
  height: 237.6px;
  position: absolute;
  right: 20px;
  top: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

/* line 244, ../sass/twister.scss */
.slot {
  transition: transform 0.5s ease-in;
  background-image: url("../images/home.png");
  background-size: contain;
  width: 256px;
  height: 256px;
  position: absolute;
  right: 0px;
  top: 260px;
  transform-origin: right bottom;
  transform: scale(0.5);
}
/* line 254, ../sass/twister.scss */
.slot:before {
  width: 100px;
  position: absolute;
  left: -70px;
  top: -40px;
  background: white;
  content: 'GO!';
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  padding: 20px;
  border-radius: 100%;
  box-shadow: 0 0 3px black;
}
/* line 266, ../sass/twister.scss */
.slot:after {
  width: 40px;
  height: 30px;
  position: absolute;
  left: -30px;
  top: 70px;
  background: white;
  content: ' ';
  font-size: 10px;
  border-radius: 100%;
  box-shadow: 0 0 3px black;
}
/* line 276, ../sass/twister.scss */
.touchstart .slot {
  animation: home 5s linear 1 forwards;
}

/* line 280, ../sass/twister.scss */
.cat {
  width: 96px;
  height: 96px;
  position: absolute;
  transform: scale(0.5);
  top: 470px;
  z-index: 20;
}
/* line 288, ../sass/twister.scss */
.cat[data-pos] {
  animation: none;
  transform: scale(1);
}
/* line 292, ../sass/twister.scss */
.cat[data-pos="1"] {
  right: 270px;
  top: 20px;
}
/* line 296, ../sass/twister.scss */
.cat[data-pos="2"] {
  right: 456px;
  top: 20px;
}
/* line 300, ../sass/twister.scss */
.cat[data-pos="3"] {
  right: 642px;
  top: 20px;
}
/* line 304, ../sass/twister.scss */
.cat[data-pos="4"] {
  right: 828px;
  top: 20px;
}
/* line 308, ../sass/twister.scss */
.cat[data-pos="5"] {
  right: 270px;
  top: 190px;
}
/* line 312, ../sass/twister.scss */
.cat[data-pos="6"] {
  right: 456px;
  top: 190px;
}
/* line 316, ../sass/twister.scss */
.cat[data-pos="7"] {
  right: 642px;
  top: 190px;
}
/* line 320, ../sass/twister.scss */
.cat[data-pos="8"] {
  right: 828px;
  top: 190px;
}
/* line 324, ../sass/twister.scss */
.cat[data-pos="9"] {
  right: 270px;
  top: 360px;
}
/* line 328, ../sass/twister.scss */
.cat[data-pos="10"] {
  right: 456px;
  top: 360px;
}
/* line 332, ../sass/twister.scss */
.cat[data-pos="11"] {
  right: 642px;
  top: 360px;
}
/* line 336, ../sass/twister.scss */
.cat[data-pos="12"] {
  right: 828px;
  top: 360px;
}
/* line 340, ../sass/twister.scss */
.cat[data-pos="13"] {
  right: 270px;
  top: 530px;
}
/* line 344, ../sass/twister.scss */
.cat[data-pos="14"] {
  right: 456px;
  top: 530px;
}
/* line 348, ../sass/twister.scss */
.cat[data-pos="15"] {
  right: 642px;
  top: 530px;
}
/* line 352, ../sass/twister.scss */
.cat[data-pos="16"] {
  right: 828px;
  top: 530px;
}
/* line 356, ../sass/twister.scss */
.drawend .cat[data-what]:after {
  transition: opacity 0.3s ease-in 0.5s;
  content: attr(data-what);
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding: 3px;
  font-size: 36px;
  width: 4em;
  text-align: center;
  text-shadow: 0 0 3px white;
  display: inline-block;
  font-family: simhei, '微軟正黑體';
  left: 50%;
  margin-left: -2em;
  top: 80%;
}
/* line 373, ../sass/twister.scss */
.cat.active {
  z-index: 100;
}

/* line 377, ../sass/twister.scss */
.cat1 {
  background: url('../images/icons-sb3be2b1138.png') 0 0;
  right: 130px;
  animation: catjump1 3s linear infinite;
}
/* line 381, ../sass/twister.scss */
.touchstart .cat1 {
  animation: cat1 5s linear 1 forwards;
}

/* line 385, ../sass/twister.scss */
.cat2 {
  background: url('../images/icons-sb3be2b1138.png') 0 -96px;
  right: 90px;
  animation: catjump2 3s linear infinite;
}
/* line 389, ../sass/twister.scss */
.touchstart .cat2 {
  animation: cat2 5s linear 1 forwards;
}

/* line 393, ../sass/twister.scss */
.cat3 {
  background: url('../images/icons-sb3be2b1138.png') 0 -192px;
  right: 50px;
  animation: catjump3 3s linear infinite;
}
/* line 397, ../sass/twister.scss */
.touchstart .cat3 {
  animation: cat3 5s linear 1 forwards;
}

/* line 401, ../sass/twister.scss */
.cat4 {
  background: url('../images/icons-sb3be2b1138.png') 0 -288px;
  right: 10px;
  animation: catjump4 3s linear infinite;
}
/* line 405, ../sass/twister.scss */
.touchstart .cat4 {
  animation: cat4 5s linear 1 forwards;
}

/* line 409, ../sass/twister.scss */
.board {
  position: absolute;
  width: 768px;
  height: 600px;
  left: 32px;
  top: 50%;
  margin-top: -348px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.3) inset;
  border: 2px solid white;
}

/* line 421, ../sass/twister.scss */
.item {
  transition: transform 0.2s ease-in;
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin: 8px 20px;
  position: relative;
  border: 2px solid black;
}
/* line 431, ../sass/twister.scss */
.item:hover, .item.here {
  transition: none;
  transform: scale(1.2);
}
/* line 435, ../sass/twister.scss */
.item:after {
  font-family: 'Fredoka One', cursive;
  color: white;
  position: absolute;
  font-size: 80px;
  line-height: 130px;
  width: 130px;
  height: 130px;
  text-align: center;
  display: inline-block;
  left: 0;
  top: 0;
  text-shadow: 0 -2px 0 black;
}
/* line 448, ../sass/twister.scss */
.item:nth-child(n) {
  background: #d80073;
  box-shadow: 0 0 30px #1a001a inset, 0 0 10px #1a001a inset;
}
/* line 456, ../sass/twister.scss */
.item:nth-child(n+5) {
  background: #a2c139;
  box-shadow: 0 0 30px #001a00 inset, 0 0 10px #001a00 inset;
}
/* line 464, ../sass/twister.scss */
.item:nth-child(n+9) {
  background: #cccc00;
  box-shadow: 0 0 30px #996300 inset, 0 0 10px #996300 inset;
}
/* line 472, ../sass/twister.scss */
.item:nth-child(n+13) {
  background: #e51400;
  box-shadow: 0 0 30px #990000 inset, 0 0 10px #990000 inset;
}
/* line 480, ../sass/twister.scss */
.item:nth-child(4n+1):after {
  content: '1';
}
/* line 483, ../sass/twister.scss */
.item:nth-child(4n+2):after {
  content: '2';
}
/* line 486, ../sass/twister.scss */
.item:nth-child(4n+3):after {
  content: '3';
}
/* line 489, ../sass/twister.scss */
.item:nth-child(4n+4):after {
  content: '4';
}
